<form class="user-input-form" (submit)="onSubmit()">
  <div class="form-control">
    <label for="city">city</label>
    <input
      required
      id="city"
      name="city"
      type="text"
      placeholder="city"
      [(ngModel)]="city"
    />
  </div>

  <div class="form-control">
    <label for="country">country</label>
    <input
      required
      type="text"
      id="country"
      name="country"
      placeholder="country"
      [(ngModel)]="country"
    />
  </div>

  <button type="submit">submit</button>
</form>
