.city {
  color: white;
  margin-top: 1rem;
  font-size: 1.8rem;
  text-align: center;
}

.day-container {
  gap: 16px;
  row-gap: 24px;
  display: grid;
  color: white;
  padding: 1.2rem;
  align-items: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 240px);
}

.current-city {
  color: #ccc;
  font-size: 3.4rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 2px #ccc;
}
