<div class="history-selector">
  <div
    class="button-container"
    [ngStyle]="{ transform: 'translateX(' + offset + 'px)' }"
  >
    <button *ngFor="let city of searchHistory" (click)="handleClick(city)">
      {{ city }}
    </button>
  </div>
  <div class="overlay-shadow"></div>
</div>
<div class="scroll-buttons">
  <button
    class="scroll-button"
    (click)="backward()"
    [ngStyle]="{ opacity: offset < 1190 ? '1' : '0.5' }"
  >
    <
  </button>
  <button
    class="scroll-button"
    (click)="forward()"
    [ngStyle]="{ opacity: offset > 0 ? '1' : '0.5' }"
  >
    >
  </button>
  <span>{{ offset }}</span>
</div>
